In [1]:
import pandas as pd
from pymongo import MongoClient as mc
import pyodbc
import mysql.connector
import couchdb

In [2]:
cliente = mc("mongodb://localhost:27017/")
db = cliente["steam_reviews"]
collection = db["rese√±as_totales"]

In [3]:
limite = 180000
 
datos = list(collection.find({} , {"_id":0}).limit(limite))
if not datos:
    print("No se encontraron registros en la base de datos MongoDB")

df = pd.DataFrame(datos)

if len(df) < limite:
    print(f"Solo se encontraron {len(df)} registraron en lugar de {limite}")

In [4]:
registro_totales = len(df) // 3
df_SQL_Server = df.iloc[:registro_totales]

df_Workbench = df.iloc[registro_totales:2*registro_totales]

df_CouchDB = df.iloc[2*registro_totales:]

print(f"Registros divididos\nSQL Server {len(df_SQL_Server)}\nMySQL Workbench {len(df_Workbench)}\nCouchDB {len(df_CouchDB)}")

Registros divididos
SQL Server 60000
MySQL Workbench 60000
CouchDB 60000

In [12]:
def guardar_mysql(df):
    
    df = df.fillna({
        "app_id":0,
        "app_name":"",
        "review_text":"",
        "review_score":0,
        "review_votes":0
    })
    
    conexion = mysql.connector.connect(
        host="localhost",
        user="root",
        password="12345",
        database="steam_reviews"
    )
    
    cursor = conexion.cursor()
    
    cursor.execute(""" 
        create table if not exists reviews (
            id int auto_increment primary key,
            app_id int,
            app_name varchar(255),
            review_text text,
            review_score int,
            review_votes int
        )               
    """)
    conexion.commit()
    
    for _, row in df.iterrows():
        cursor.execute(""" 
            insert into  reviews (app_id, app_name, review_text, review_score, review_votes)
            values (%s, %s, %s, %s, %s)
        """, (row["app_id"], row["app_name"], row["review_text"], row["review_score"], row["review_votes"]))
    conexion.commit()
    conexion.close()
    print(f"Datos guardados en la base de datos MySQL Workbench")

In [13]:
guardar_mysql(df_Workbench)

Datos guardados en la base de datos MySQL Workbench

In [14]:
df_Workbench.tail()

,app_id,app_name,review_text,review_score,review_votes,source_collection
119995,570,Dota 2,A very 'fun' game.,1,0,dota2_reviews
119996,570,Dota 2,Nice game addicting tnx,1,0,dota2_reviews
119997,570,Dota 2,i hate my life,1,0,dota2_reviews
119998,570,Dota 2,How can I delete this forever from my Steam li...,1,0,dota2_reviews
119999,570,Dota 2,Dota 2 has a bit of a learning curve but is lo...,1,0,dota2_reviews

In [23]:
def guardar_couchdb(df):
    
    df = df.fillna({
        "app_id": 0,
        "app_name": "",
        "review_text": "",
        "review_score": 0,
        "review_votes": 0
    })
    
    couch = couchdb.Server("http://admin:admin@localhost:5984/")
    db_name = "steam_reviews"
    
    if db_name in couch:
        db = couch[db_name]
    else:
        db = couch.create(db_name)
        
    for _, row in df.iterrows():
        db.save(row.to_dict())
        
    print("Datos guardados en la base de datos CouchDB")

In [24]:
guardar_couchdb(df_CouchDB)

Datos guardados en la base de datos CouchDB

In [13]:
def guardar_SQLServer(df):
    
    df = df.fillna({
        "app_id": 0,
        "app_name": "",
        "review_text": "",
        "review_score": 0,
        "review_votes": 0
    })
    
    conexion_str = "DRIVER={ODBC Driver 17 for SQL Server};SERVER=ADRIAN\\MSSQLSERVER01;DATABASE=steam_reviews;Trusted_Connection=yes;"
    conexion = pyodbc.connect(conexion_str)
    cursor = conexion.cursor()
    
    cursor.execute(""" 
        if not exists (select * from sysobjects where name='reviews' and xtype='U')
        create table reviews (
            id int identity(1,1) primary key,
            app_id int,
            app_name nvarchar(255),
            review_text nvarchar(max),
            review_score int,
            review_votes int
        )
    """)
    conexion.commit()
    
    for _, row in df.iterrows():
        cursor.execute(""" 
            insert into reviews (app_id, app_name, review_text, review_score, review_votes)
            values(?, ?, ?, ?, ?)
        """, row["app_id"], row["app_name"], row["review_text"], row["review_score"], row["review_votes"])
    
    conexion.commit()
    conexion.close()
    print("Datos guardados en la base de datos SQL Server")

In [14]:
guardar_SQLServer(df_SQL_Server)

Datos guardados en la base de datos SQL Server